.container {
    width: 100%;
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    padding: 1%;
    padding-left: 4%;
  }
  
  .congratsTextAndButtons {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  
  }
  
  .congratsText {
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: white;
    padding: 1%;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc; 
  }
  
  .congratsText h2 {
    background-color: var(--background);
    color: white;
    width: 60%;
    text-align: center;
    font-size: 40px;
    border-radius: 20px;
    font-weight: 800;
  }
  
  .congratsText p {
    width: 90%;
    font-size: 23px;
    line-height: 1.3;
    color: #333333;
  }
  
  .redButtons {
    display: flex;
    flex-direction: row;
    gap: 10px; 
  }
  
  .rightSideButtons {
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    
    .container {
      flex-direction: column;
      align-items: center;
      margin-top: 25%;
    }
    .congratsTextAndButtons {
      width: 100%;
    }
    .rightSideButtons {
      width: 100%;
      display: flex;
      flex-direction: column;
      
    
    }
    .congratsText h2 {
      width: 90%;
      font-size: 22px;
    }
    .congratsText p {
      width: 90%;
      font-size: 18px;
    }
    .redButtons {
      width: 100%;
      display: flex;
      flex-direction: row;
      gap: 20px;
      margin-top: 20px;
      align-items: center;
      justify-content: center;
    }
  }