.pageContainer{
  background-color:var(--background) ;
  width: 100%;
  position: relative;

}
.blurCircles1{
  width: 200px;
  height: 200px;
  background: radial-gradient(closest-side, #7d84b5, #3a4257);
  border-radius: 50%;
  position: absolute;
  top: -100px;
  right: -10px;
  filter: blur(70px);

}



.blurCircles3{
  width: 200px;
  height: 200px;
  background: radial-gradient(closest-side,#7d84b5, #3a4257);
  border-radius: 50%;
  position: absolute;
  bottom: -10px;
  left: -10px;
  filter: blur(70px);
  
}

.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem ;
  margin-top: 5%;
  gap: 1rem;
  background-color: transparent;
}

.leftContainer{
  flex: 0.5;
}
.imageContainer{
  width: 70%;
  
}
.middleContainer{
  width: 100%;
  display: flex;
  padding-inline: 10%;
  flex-direction: column;

}



.middleText{
  color: white;
  width: 100%;
  padding: 1rem 0;
}

.middleText h1 {
  color: #A0720E;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 200px;
  text-align: center;
  transform: rotateY(-30deg);
  text-shadow: 1px 1px 0 #4F4236,
               2px 2px 0 #4F4236,
               3px 3px 0 #4F4236,
               4px 4px 0 #4F4236,
               5px 5px 0 #4F4236,
               6px 6px 0 #4F4236,
               7px 7px 0 #4F4236,
               8px 8px 0 #4F4236,
               9px 9px 0 #4F4236,
               10px 10px 0 #4F4236;
}




.middleText h4{
  font-size: 40px;
  text-align: center;
  width: 100%;
}

.thirdSection{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 3rem;
  margin-top: 1%;
  margin-bottom: 3%;
}


.btn {
  --fancy-button-gradient-0: #8d49fd;
  --fancy-button-gradient-50: #7f56f3;
  --fancy-button-gradient-100: #5691f3;
  --fancy-button-inner-shadow-top: rgba(233, 209, 255, 0.2);
  --fancy-button-inner-shadow-top-lg: rgba(9, 12, 60, 0.1);
  --fancy-button-inner-shadow-bottom: rgba(137, 222, 246, 0.3);
  --fancy-button-shine-top: #e9d1ff;
  --fancy-button-shine-bottom: #adfff9;
  font-weight: 500;
  font-size: 15px;
  line-height: 21px;
  text-shadow: 0px 0.5px 0.5px rgba(0, 0, 0, 0.2);
  padding: 0;
  margin: 0;
  appearance: none;
  border: none;
  outline: none;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  width: 300px;
  height: 65px;
  z-index: 1;
  border-radius: 25px;
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    var(--fancy-button-gradient-0) 0%,
    var(--fancy-button-gradient-50) 50%,
    var(--fancy-button-gradient-100) 100%
  );
  box-shadow:
    0px 4px 12px rgba(9, 12, 60, 0.15),
    0px 2px 8px rgba(9, 12, 60, 0.15),
    0px 1px 3px var(--fancy-button-inner-shadow-top-lg),
    inset 0px 1px 1px var(--fancy-button-inner-shadow-top),
    inset 0px -1px 3px var(--fancy-button-inner-shadow-bottom);
}

.btn:before,
.btn:after {
  content: "";
  position: absolute;
  border-radius: inherit;
  will-change: transform;
}

.btn:before {
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--fancy-button-shine-top);
  width: 96px;
  height: 6px;
  top: -3px;
  opacity: 0.6;
  filter: blur(6px);
  transition: opacity 0.25s;
}

.btn:after {
  inset: 0;
  background-size: cover;
  z-index: 2;
  opacity: 0.3;
  mix-blend-mode: overlay;
  pointer-events: none;
}

.btn span {
  display: block;
  padding: 12px 24px;
  border-radius: inherit;
  font-size: 24px;
  overflow: hidden;
  position: relative;
  background-image: linear-gradient(
    to bottom,
    var(--fancy-button-shine-top),
    transparent 8px
  );
  background-position: 0 -6px;
  background-repeat: no-repeat;
  z-index: 1;
}

.btn span:before,
.btn span:after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  background-color: var(--fancy-button-shine-bottom);
  transition:
    opacity 0.25s,
    transform 0.25s;
  will-change: transform;
}

.btn span:before {
  width: 92px;
  height: 8px;
  bottom: -4px;
  opacity: 0.75;
  filter: blur(6px);
}

.btn span:after {
  width: 112px;
  height: 1px;
  bottom: 0;
  opacity: 0.9;
  filter: blur(1px);
}

.btn:hover span:before {
  opacity: 0.8;
}

.btn:hover span:before {
  transform: translateX(-50%) scale(1.25);
}

.btn:hover span:after {
  opacity: 1;
}


.slide{
  width: 60%;
  height: 400px;
  background: linear-gradient(to right, #646a92, #d380c8);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

@media screen and (max-width: 1060px){
  .container{
    flex-direction: column;
    gap: 0.5rem;
  }
  .middleContainer{
    width: 100%;
    padding: 2.5rem;
  }
  .middleText h1{
    font-size: 180px;
  }
  .middleText h4{
    font-size: 38px;
    text-align: center;
  }

  .title1{
    font-size: 20px;
  }
  .middleText{
    padding: 0;
  }
  .thirdSection{
    flex-direction: column;
    margin-top: 0;
    gap: 3rem;
    margin-bottom: 3rem;
  }
  .slide{
    width: 80%;
    height: 350px;
    font-size: 20px;
  }
  .btn{
    width: 300px;
    height: auto;
  }
  
}

@media screen and (max-width: 500px){
  .middleText h1{
    font-size: 130px;
  }
  .middleText h4{
    font-size: 28px;
  }
  .slide{
    width: 90%;
    height: 400px;
    font-size: 15px;
  }
  .btn{
    width: 250px;
    height: auto;
  }
  
  
}